

<app-child [studentList]="students" (outputData)="getData($event)"></app-child>

<div class="jumbotron">
<h1>From Child to Parent Demo</h1>
<button class="btn  btn-primary" (click)="onclick()">Click To load Employee Data</button>

<table class="table table-hover my-3">
  <thead>
    <tr>
      <th scope="col">Employee Id</th>
      <th scope="col">Name</th>
      <th scope="col">Department</th>
      <th scope="col">Salary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees">

         <td> {{emp.eid}}</td>
         <td>   {{emp.ename}} </td>
         <td>   {{emp.department}} </td>
         <td>   {{emp.salary}} </td>
          
          
         
    </tr>
   
  </tbody>
</table>
</div>

<router-outlet>



</router-outlet>
